.container {
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

.sub-title {
  font-size: 1.5rem;
  color: rgb(59, 59, 59);
  margin-top: 10px;
}

.form-prediction {
  display: flex;
  margin: 30px 0;
}

.form {
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  padding: 20px;
  max-width: 600px;
}

.form-step {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: solid 0.5px lightgray;
}

.step-title {
  margin-left: -37.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.circle {
  font-size: 2rem;
  display: inline-block;
  color: white;
  background-color: rgb(227, 28, 95);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}

img {
  display: block;
  width: 300px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 4px 8px;
}

.inputs {
  margin: 20px 0;
}

.input-tag {
  font-size: 0.95rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 400px;
}

.input-area {
  margin: 5px 0;
  padding: 7px;
  border-radius: 5px;
  border: solid 0.5px lightgrey;
}

.input-area:focus {
  border: solid 0.5px rgb(204, 90, 128);
  box-shadow: 0 0 0px 3px rgb(247, 208, 221);
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

.check-group {
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
  border: solid 0.5px lightgrey;
  display: flex;
}

.check-group:hover {
  background-color: rgb(247, 208, 221);
  border-color: rgb(247, 208, 221);
}

.checkbox-tag {
  margin-left: 5px;
}

.checkbox-tag::selection {
  color: none;
  background: none;
}

.amenity {
  display: none;
}

.checked {
  background-color: rgb(227, 28, 95);
  border-color: rgb(227, 28, 95);
  color: white;
}

.checked:hover {
  background-color: rgb(227, 28, 95);
  border-color: rgb(227, 28, 95);
}

.button {
  font-size: 1.2rem;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(
    135deg,
    rgb(255, 56, 92) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
  color: white;
  font-weight: bold;
}

.dollar-sign {
  display: inline-block;
  font-size: 3rem;
  transform: translateY(-50px);
  font-weight: bold;
  color: rgb(227, 28, 95);
}

#prediction {
  font-size: 8rem;
  font-weight: bold;
  color: rgb(227, 28, 95);
}

.prediction {
  margin-left: 30px;
  position: sticky;
  top: 30px;
  align-self: flex-start;
}
