<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ML Project</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.1/build/base-min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='main.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>AirBnB Pricer</h1>
      <p class="sub-title">Estimate the perfect price with machine learning!</p>
      <div class="form-prediction">
        <div class="form">
          <div class="form-step">
            <h3 class="step-title">
              <span class="circle">1</span> Upload an image
            </h3>
            <input
              type="file"
              id="img"
              name="img"
              accept="image/*"
              onchange="onFileSelected(event)"
            />
            <img id="image-display" />
          </div>

          <div class="form-step">
            <h3 class="step-title">
              <span class="circle">2</span> Add amenities
            </h3>
            <div class="inputs">
              <div class="input-group">
                <label class="input-tag" for="param1"
                  >Number of bathrooms</label
                >
                <input
                  class="input-area"
                  type="text"
                  name="param1"
                  id="param1"
                  placeholder="0"
                />
              </div>
              <div class="input-group">
                <label class="input-tag" for="param2">Number of bedrooms</label>
                <input
                  class="input-area"
                  type="text"
                  name="param2"
                  id="param2"
                  placeholder="0"
                />
              </div>
              <div class="input-group">
                <label class="input-tag" for="param3">Number of beds</label>
                <input
                  class="input-area"
                  type="text"
                  name="param3"
                  id="param3"
                  placeholder="0"
                />
              </div>
            </div>
            <div class="checkboxes">
              {% for amenity in amenities %}
              <label
                for="{{ amenity.replace(' ', '') }}"
                class="check-group"
                id="{{ amenity.replace(' ', '') + 'label' }}"
              >
                <input
                  class="amenity"
                  type="checkbox"
                  id="{{ amenity.replace(' ', '') }}"
                  name="{{ amenity.replace(' ', '') }}"
                  onchange="onCheckChange(event)"
                />
                <span class="checkbox-tag">{{amenity}}</span>
              </label>
              {% endfor %}
            </div>
          </div>
          <button class="button" onclick="onSubmit()">Submit</button>
        </div>

        <div class="prediction">
          <h2>Prediction:</h2>

          <div class="number">
            <span class="dollar-sign">$</span>
            <span id="prediction">0</span>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static',filename='main.js') }}"></script>
  </body>
</html>
