<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ML Project</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.1/build/base-min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='main.css') }}"
    />
  </head>
  <body>
    <h1>AirBnB Pricer</h1>
    <p>Estimate the perfect price with machine learning!</p>
    <div>
      <h3>1. Upload an image</h3>
      <input
        type="file"
        id="img"
        name="img"
        accept="image/*"
        onchange="onFileSelected(event)"
      />
    </div>
    <img id="image-display" width="200" />
    <p id="file-name"></p>

    <div>
      <h3>2. Dial in your prediction</h3>
      <div>
        <label for="param1">Param 1</label>
        <input type="text" name="param1" id="param1" />
      </div>
      <div>
        <label for="param2">Param 2</label>
        <input type="text" name="param2" id="param2" />
      </div>
      <div>
        <label for="param3">Param 3</label>
        <input type="text" name="param3" id="param3" />
      </div>
      <button onclick="onDialSubmit()">Submit</button>
    </div>

    <p>Prediction: <span id="prediction"></span></p>

    <script src="{{ url_for('static',filename='main.js') }}"></script>
  </body>
</html>
